*.zst
*.pt
*.csv
*.ckpt
*.sigmf-data
*.sigmf-meta
*.pyc
*.yaml
*.txt
*.json
*.mdb
*.mar
*-checkpoint.ipynb
.DS_Store
.python-version
experiment_logs/
lightning_logs/
spec_logs/

rfml-dev/.README.md.swp
